# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [7]:
number = 4
print(number)

4

##### Assinging float

In [8]:
float = 2.2
print(float)

2.2

#### Performing Calculations on ints and floats

##### Addition

In [1]:
add = 1+1
print(add)

2

##### Subtraction

In [2]:
sub = 1-1
print(sub)

0

##### Multiplication

In [3]:
mult = 2*2
print(mult)

4

##### Division

In [5]:
4/2

2.0

##### Floor Division

In [9]:
num2 = 4
num3 = 3
new = num2 // num3
print(new)

1

##### Modulo

In [6]:
5%2

1

##### Exponential

In [10]:
4**3

64

### String Input-Output

##### String Assignment

In [11]:
name = "alex"
print(name)

alex

##### print() <br>
<p>Don't forget about end=' '</p>

In [14]:
print(name , end=" rasmussen")

alex rasmussen

##### String Concatenation

In [16]:
first_name = "alex"
last_name = "rasmussen"

full_name = first_name + " " + last_name
print(full_name)

alex rasmussen

##### Type Conversion

In [17]:
number = "32"
change_to_int = int(number)
print(change_to_int)

32

##### input()

In [21]:
age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is your age?: 28
33

##### format()

In [23]:
age = input ("What is your age? ")
name = "alex"

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life"
print(result_again)

What is your age? 28
You are 28 alex and you are getting wiser!
28 is a great time in life

##### Old Way (python 2)

In [24]:
result_string2 = "You are s and you look great for your age!" &age
print(result_string2)

TypeError: unsupported operand type(s) for &: 'str' and 'str'

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [2]:
year = "1990"
make ="Chevy"
model ="Corvette"
color ="Blue"

print("This car is a {} {} {} {}" .format(year,make,model,color))

This car is a 1990 Chevy Corvette Blue

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [26]:
num3 = 55
if num3 == 55:
    print("Correct")

Correct

##### 'in' keyword

In [27]:
name = "Alex"
if "Alex" in name:
    print("Yes!")

Yes!

##### 'not in' keyword'

In [28]:
if "Alex" not in name:
    print("Not!")
else: 
    print("Yes it is!")

Yes it is!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [5]:
input("Whats your name?")
if 'p' in input:
    print("Your name has the letter 'p' in it!")
else:
    print("Your name doesnt have the letter 'p' in it.")

Whats your name?alex

TypeError: argument of type 'method' is not iterable

## Using 'and'/'or' with If Statements

In [31]:
num1 = 1
num2 = 2
num3 = 3
num4 = 4

if num4 / num2 == num2 and num1 + num2 == num3:
    print("Trueee")

Trueee

### Elif Statements

In [32]:
first_name = input("Whats your name? ")

if first_name == "roger":
    print("hi roger!")
elif first_name == "bob":
    print("hi bob!")
else:
    print("You're not roger or bob")

Whats your name? alex
You're not roger or bob

### Else Statements

In [ ]:
# see above

### For Loops

In [34]:
number = 100
for numbers in number:
    number += 1
    if numbers >= 150:
        break

TypeError: 'int' object is not iterable

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [43]:
name = "alex"

for i in name:
    if i == 'a':
        continue

##### Break Statement

In [ ]:
# will break out of current loop

In [46]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [47]:
name = "alex"

for i in name:
    pass

##### Double For Loops

In [48]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ' ,j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [51]:
smaller = 10
number = 15
while smaller < number:
    smaller +=1
    print(smaller)

11
12
13
14
15

##### Looping 'While True'

In [55]:
game_over = True
while game_over:
    print("infinite loop")
    user_input = input("Woudl you like to try again? ")
    if user_input == 'Yes':
        game_over = False

infinite loop
Woudl you like to try again? yes
infinite loop
Woudl you like to try again? Yes

##### While & For Loops Used Together

In [56]:
num = 0
while num < 5:
    print("\nWhile loop iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i + 1))
        
        num+= 1

While loop iteration: 0
For Loop Iteration:  1
For Loop Iteration:  2

While loop iteration: 2
For Loop Iteration:  1
For Loop Iteration:  2

While loop iteration: 4
For Loop Iteration:  1
For Loop Iteration:  2

### Built-In Functions

##### range()

In [57]:
# range( start,stop,step)

for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [58]:
name = 'alex'
print(len(name))

4

##### help()

In [59]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [60]:
#check a variable to find out hwat object family it belongs to

print(isinstance(4.5, int))

False

##### abs()

In [61]:
print(abs(-5))

5

### Try and Except

In [62]:
#use this to log ouit graceful and useful error messages
#does not stop the program

try: 
    number_test = 0
    input_num = int(input('guess a number'))
    if input_num != input_num + number_test:
        input_num = input_num + number_test
        print('your number is: ' + str(input_num))
except:
    print("That didnt work! change your input to a number")

guess a numberasd
That didnt work! change your input to a number

### Lists

##### Declaring Lists

In [ ]:
list1 = []

##### Indexing a List

In [ ]:
#starts at 0
#ex: print(names[3]) prints out the 4th name in hte list

##### .append()

In [ ]:
#adds to the end of a list

##### .insert()

In [ ]:
#names.insert(3, 'alex')
#print(names)

##### .pop()

In [ ]:
#removes the item at the end of the list


##### .remove()

In [ ]:
#value to be removed rather than index

##### del()

In [ ]:
#goes by index rather than value
#be careful with del, it can cause indexing errors if not used carefully
#del(names[1]))
#print(names)

##### Concatenating Two Lists

In [63]:
list_2 = [0, 1, 2]
list_3 = [3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [65]:
#lists can hold any type of element
#can hold as many lists as you want; this is called "nesting lists"

names = ['Max','sam','josh',['sally',['sue','jim'], 'temmy']]
print(names)
print(names[3][1][1])

['Max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'temmy']]
jim

##### Looping Through Lists

In [66]:
#two ways to loop trhough a list! one is by index: the other is by using the 'in' keyword

#by index

for i in range(len(names)):
    print(names[i])
    
#loop with 'in'
for name in names:
    print(name)

Max
sam
josh
['sally', ['sue', 'jim'], 'temmy']
Max
sam
josh
['sally', ['sue', 'jim'], 'temmy']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:

for number in range(1,1000):
    number+=number**3
    if number >= 1000:
        break
    print(number)

2
10
30
68
130
222
350
520
738

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [1]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
for i in range(2,101): 
    for n in range(2,101):
        if i%n == 0:
            break
    if i == n:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [2]:
age = input('Enter your age')
if int(age) < 18:
    print('kids')
elif int(age) > 18 and int(age) < 66: 
    print('adult')
else: 
    print('senior')

Enter your age15
kids